{% extends "base.html.twig" %}
{% block body %}
    {% include "navbar.html.twig" %}
    <h1>Liste des groupes : </h1>
    <div class="container" style="background-color: lightsalmon">
        {% for band in bands %}
            <div class="card" style="width: 18rem; border-color: green; border-width: 5px" >
                <img class="card-img-top" src="images/{{ band.pictures }}" alt="Card image cap">
                <div class="card-body" style="background-color: #5eb5e0;">
                    <a href="https://webinfo.iutmontp.univ-montp2.fr/~niortk/concertProject/public/bands/{{band.id}}" class="btn btn-primary" style="background-color: purple; border-color: orange; border-width: 5px; color: magenta">{{ band.name }}</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

