{% extends "base.html.twig" %}
{% block body %}
    {% include "navbar.html.twig" %}
    <h1>Membres du groupe : </h1>
    <div class="container" style="background-color: lightsalmon">
        {% for artist in artists %}
            <div class="card" style="width: 18rem; border-color: green; border-width: 5px" >
                <img class="card-img-top" src="../images/{{ artist.pictures }}" alt="Card image cap">
                <div class="card-body" style="background-color: #5eb5e0; color: darkblue">
                    <h5 class="card-title">{{ artist.firstname}} {{ artist.name }}</h5>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

